nav{
    background-color: #1E202B;
}
.item{
    border: 2px solid transparent;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}
.item:hover{
    color: #009AD8;
    border: 2px solid #009AD8;
}
.navbar-brand p {
    font-size: 10px;
}
.intro{
    background-image: url(../img/banner.png);
    background-size: cover;
    
    height: 370px;
}
.input-group{
    background-color:#1E202B ;
}
.box{
    background-color: #1E202B;
    height: 220px;
}
.test{
    background-color: #2d303def;
    color: rgba(255, 255, 255, 0.692);
}
.test2{
    background-color: #1e2027;
    color: rgba(255, 255, 255, 0.692);
}
.news{
    background-color: #323544;
    color: white;
    height: 280px;
}
.about{
    background-color: #262936;
    color: white;
    height: 280px;
}
h1{
    font-size: 90px;
}
.g-0{
    top: -220px;
}
.icon{
    width: 40px;
    height: 40px;
    color: #009AD8 ;
    background-color: #1e2027;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}
.icon:hover{
    background-color: #009AD8;
    color: white;
}
footer{
    background-color: #262936;
}
footer p{
    font-size: 14px;
    color: #ABC1C8;
}
.degree{
    font-size: 80px;
}
.degreeColor{
    color: #BFC1C8;
}



@media screen and ( min-width:768px ) and (max-width:991px) {
    .news1{
        height: 320px;
    }
}
@media screen and ( min-width:992px )  {
    .news1{
        height: 280px;
    }
}
@media screen and ( max-width:990px )  {
    .box{
        height: auto;
    }
}